<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Superhero Sightings - Sightings</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <div class="container">
      <div class="row m-4">
        <div class="col text-center border border-dark">
          <h1><a href="/" class="text-dark">Sightings</a></h1>
        </div>
      </div>
      <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
          <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes</a>
        </div>
        <div class="col text-center m-3">
          <a href="locations" class="btn btn-outline-primary btn-lg"
            >Locations</a
          >
        </div>
        <div class="col text-center m-3">
          <a href="sightings" class="btn btn-outline-primary btn-lg"
            >Sightings</a
          >
        </div>
        <div class="col text-center m-3">
          <a href="organizations" class="btn btn-outline-primary btn-lg"
            >Organizations</a
          >
        </div>
      </div>
      <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
          <span class="h3">Add Sighting</span>
        </div>
        <div class="col-7 text-center m-3">
          <form action="addSighting" method="POST">
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label"> Name</label>
              <div class="col-9">
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  th:value="${sighting.name}"
                />
                <div th:if="${#fields.hasErrors('sighting.name')}">
                  <p
                    th:each="error : ${#fields.errors('sighting.name')}"
                    class="alert alert-danger"
                    th:text="${error}"
                  >
                    Bad name
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-3 col-form-label"
                >Description</label
              >
              <div class="col-9">
                <input
                  type="text"
                  name="description"
                  id="description"
                  class="form-control"
                  th:value="${sighting.description}"
                />
                <div th:if="${#fields.hasErrors('sighting.description')}">
                  <p
                    th:each="error : ${#fields.errors('sighting.description')}"
                    class="alert alert-danger"
                    th:text="${error}"
                  >
                    Bad desc
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="dateOfSighting" class="col-3 col-form-label">
                Date Of Sighting</label
              >
              <div class="col-9">
                <input
                  type="date"
                  name="dateOfSighting"
                  id="dateOfSighting"
                  class="form-control"
                />
                <div th:if="${#fields.hasErrors('sighting.dateOfSighting')}">
                  <p
                    th:each="error : ${#fields.errors('sighting.dateOfSighting')}"
                    class="alert alert-danger"
                    th:text="${error}"
                  >
                    Bad date
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="location" class="col-3 col-form-label">
                Location</label
              >
              <div class="col-9">
                <select id="location" name="locationId" class="form-control">
                  <option
                    th:each="location : ${locations}"
                    th:value="${location.locationId}"
                    th:text="${location.address + ' ' + location.city + ' ' + location.state}"
                  >
                    Location
                  </option>
                </select>
                <div th:if="${#fields.hasErrors('sighting.location')}">
                  <p
                    th:each="error : ${#fields.errors('sighting.location')}"
                    class="alert alert-danger"
                    th:text="${error}"
                  >
                    Bad location
                  </p>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Sighting</button>
          </form>
        </div>

        <div class="row m-4 border border-dark">
          <div class="col text-center m-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Location</th>
                  <th>Details</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="sighting : ${sightings}">
                  <td th:text="${sighting.sightingId}">sighting ID</td>
                  <td th:text="${sighting.name}">sighting Name</td>
                  <td th:text="${sighting.description}">description</td>
                  <td th:text="${sighting.dateOfSighting}">date</td>
                  <td
                    th:text="${sighting.location.address + ' ' + sighting.location.city + ' ' + sighting.location.state}"
                  >
                    Location
                  </td>
                  <td>
                    <a
                      href="#"
                      th:href="@{/sightingDetails(id=${sighting.sightingId})}"
                      >Details</a
                    >
                  </td>
                  <td>
                    <a
                      href="#"
                      th:href="@{/editSighting(id=${sighting.sightingId})}"
                      >Edit</a
                    >
                  </td>
                  <td>
                    <a
                      href="#"
                      th:href="@{/deleteSighting(id=${sighting.sightingId})}"
                      onclick="return confirm('Are you sure you want to delete this Sighting?')"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-7 text-center m-3">
          <form action="findSightingsByDate" method="POST">
            <div class="form-group row">
              <label for="dateOfSighting" class="col-3 col-form-label">
                Search Sightings By Date</label
              >
              <div class="col-9">
                <input
                  type="date"
                  name="dateOfSighting"
                  id="dateOfSighting"
                  class="form-control"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
